body {
  font-family: "Quattrocento Sans", sans-serif, sans-serif !important;
  margin-top: 0px;
}

.hide {
  display: none;
}

.navbar.navbar-dark {
  color: #e7e5e5;
  background-color:#083761;
}
.navbar.navbar-dark input {
  color: #e7e5e5;
}
#input-search-term {
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
  float: left;
}

#loading-search {
  height: 35px;
  vertical-align: middle;
  padding-left: 10px;
}

#gene-table_filter {
  margin-left: -40px;
}
.counter {
  margin-left: 8px;
}

.dt-buttons {
  margin-left: -10px;
  margin-right: 20px;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 4px;
}

.dataTables_wrapper .dataTables_length {
    float: right;
    text-alight: right;
}
.dataTables_wrapper .dataTables_filter {
    text-align: left;
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-body {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}


.card-body h2 {
  margin-top: 0px;
}

.left-section {
  width: calc(100% - 470px);
  margin-right: 10px;
}
.right-section {
  min-width: 460px;
}

button.dt-button, div.dt-button, a.dt-button {
    font-size: 12px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;

    position: relative;
    display: inline-block;
    margin-left: 10px;
    box-sizing: initial;
    margin-right: initial;
    margin-bottom: initial;
    padding: initial;
    border: initial;
    border-radius: initial;
    cursor: initial;
    font-size: initial;
    line-height: initial;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    background-color: initial;
    background-image: initial;
    background-image: initial;
    background-image: initial;
    background-image: initial;
    background-image: initial;
    filter: initial;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    outline: none;